<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fases de la Luna</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h2>Consultar Fases de la Luna</h2>
    <label for="start">Fecha de Inicio:</label>
    <input type="date" id="start" required />
    <label for="end">Fecha de Fin:</label>
    <input type="date" id="end" required />
    <button onclick="fetchMoonPhases()">Consultar</button>

    <h3>Resultados:</h3>
    <ul id="results"></ul>

    <h3>Gráfica:</h3>
    <img id="moonPlot" src="" alt="Gráfica de Fases de la Luna" />

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
